$header-bg: #D0D2E1;

.header-icon {
  width: 30px;
  height: 30px;
}

.header-items__top {
  height: 64px;
  background: $header-bg;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6fr 1fr 1fr 1fr;
  grid-gap: 35px;
  align-items: center;
  align-content: center;
  justify-items: center;

  .header-item {
  }
}
