@import "../../../styles/variables";

.header-top {
  background: $header-bg;

  .header-items {
    height: 64px;
    //background: $header-bg;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 6fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 35px;
    align-items: center;
    align-content: center;
    justify-items: center;

    .header-item {
    }
  }
}
