.file-input {

  .MuiDropzoneArea-textContainer {
    text-align: left;
  }

  &.MuiDropzoneArea-root {
    border: none;
    min-height: unset;
  }

  .MuiGrid-container {
    margin-top: 0;
    width: 100%;
    margin-left: 0;

    > .MuiGrid-item {
      width: 100%;
      padding-left: 0;
      margin-top: 10px;
      padding-top: 0;
      max-width: unset;
    }
  }
}
