@import "../../styles/variables";

.product-content {
  height: 500px;
}

.product-slider__wrapper {
  width: 100%;
}

.product-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
}

.product-info__top {
  position: relative;
  padding-bottom: 20px;

  > *:not(:last-child) {
    margin-bottom: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% + 40px);
    background: $border;
    bottom: 0;
    left: -20px;
  }
}

.product-info__bottom {
  margin-top: 20px;
}

.product-description {
  font-size: 20px;
  font-weight: 300;
  word-wrap: break-word;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .product-content {
    height: auto;
  }

  .product-info {
    width: 100%;
  }
}
