@import "../../styles/variables";

.product-layout {
  position: relative;
  border: 1px solid $border;
  background-color: white;
  border-radius: 6px;
  //height: 500px;
  padding: 5px 0;
  background-size: cover;
  background-position: bottom center;
  //display: flex;
  //flex-direction: column;
  //justify-content: end;
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.product-header {
  display: flex;
  justify-content: flex-end;
}

.product-slider {
  margin-top: 10px;

  .carousel {
    .control-dots {
      //bottom: -10px;

      .dot {
        background: black;
        box-shadow: none;
      }
    }
  }
}

.product-slide {
  height: 400px;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  //background: #eaeaea;
  position: relative;
}

.product-slide__img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.product-info {
  margin-top: 20px;
  padding: 0 5px;
}

.product-info__count {
  position: relative;
  border: 1px solid $border;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 3px 15px;
  height: 30px;
  margin-top: 10px;

  p {
    display: flex;
    align-items: center;
  }

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background: $border;
    left: 50%;
    top: 0;
  }
}

.product-footer {
  margin-top: 10px;
}
