@import "../../styles/variables";

.products {
  //margin-bottom: 50px;
}

.product-item__favorite {
  margin-left: auto;
}

.product-cart-counter {
  padding: 0 5px;
}

.products-main__products {
  width: 100%;
}

