@import "../../styles/variables";

.product-item__favorite {
  margin-left: auto;
}

.products-header {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  //justify-content: center;
}

.product-cart-counter {
  padding: 0 5px;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

