@import "../../styles/variables";

.product-item__delete {
  left: 50px;
  top: 5px;
}

.product-item__edit {
  left: 5px;
  top: 5px;
}

.product-modal {
  //width: unset;
}

.product-form {
  //width: unset;
}

