@import "../../styles/variables";

.admin-content {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.admin-tabs {
  position: relative;
  //width: 20%;
}

.base-admin-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.base-admin-item {
  display: flex;
  align-items: center;
  border: 1px solid $border;
  margin-right: 10px;
  border-radius: $border-radius;
  padding-left: 5px;
  margin-bottom: 20px;
}

