@import "../../styles/variables";

.cart-counter {
  //height: 42px;
}

.cart-counter__active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary;
  border-radius: $border-radius;
  height: 100%;
  //padding: 1px;
}

.cart-counter__count {
  padding: 0 8px;
  color: white;
}
